.text-center {
    text-align: center;
}
.goals-card {
    width: 100%;
    height: 500px;
    border-radius: 20px;
}

.edit-goals-card {
    width: 100%;
    height: min-content;
    border-radius: 20px;
}

hr {
    border-top: 3px solid rgba(0, 0, 0, 0.1) !important;
    margin-left: 0px !important;
}

.hr-width {
    width: 120px !important;
}

.goals-inner-card-width {
    max-width: 280px !important;
    width: 280px !important;
    background-color: #E0E0E0 !important;
    margin: 0 auto !important;
}

.edit-goals-inner-card-width {
    max-width: 100% !important;
    width: 100% !important;
    background-color: #E0E0E0 !important;
    margin: 0 auto !important;
}

.edit-goals-gallery-inner-card-width {
    max-width: 220px !important;
    width: 220px !important;
    background-color: #E0E0E0 !important;
    margin: 0 auto !important;
}

ul > #menu-itemssss:hover {
    background-color: E0E0E0 !important;
    color: black !important;
    font-weight: bold;
}
.m-b-20 {
    margin-bottom: 20px !important;
}

.t-a-l {
    text-align: left !important;
}
.t-a-c {
    text-align: center !important;
}

/* .MuiInput-underline.Mui-focused:after {
    border-bottom: lightgray !important;
}

.MuiInput-underline:after {
    border-bottom: lightgray !important;
}
.MuiInput-underline:hover {
    border-bottom: lightgray !important;
} */




.f-w-b {
    font-weight: bold !important;
}

.modal-backdrop.show {
    opacity: 0.5 !important;
}

.modal-header-bg {
    background: #F8F8F8 !important;
}

.modal-body-height {
    min-height: 400px !important;
}

.modal-body-height-budget {
    min-height: 500px !important;
}



.modal-footer-buttons {
    /* display: flex !important;
    flex-wrap: wrap !important; */
    position: absolute;
    width: 82% !important;
    bottom: 36px !important;
    margin-top: 30px !important;
    justify-content: end !important;
}
.modal-footer-buttons button {
    border-radius: 20px !important;
}

.modal-footer-buttons-final button {
    border-radius: 20px !important;
}

.RFS-StepButton-d0.active {
    background-color: black !important;
}
.RFS-StepButton-d2.active {
    background-color: black !important;
}
.RFS-StepButton-d4.active {
    background-color: black !important;
}
.RFS-StepButton-d6.active {
    background-color: black !important;
}
.RFS-StepButton-d8.active {
    background-color: black !important;
}
.RFS-StepButton-d10.active {
    background-color: black !important;
}
.RFS-StepButton-d0.completed {
    background-color: darkgray !important;
}
.RFS-StepButton-d2.completed {
    background-color: darkgray !important;
}
.RFS-StepButton-d4.completed {
    background-color: darkgray !important;
}
.RFS-StepButton-d6.completed {
    background-color: darkgray !important;
}
.RFS-StepButton-d8.completed {
    background-color: darkgray !important;
}
.RFS-StepButton-d10.completed {
    background-color: darkgray !important;
}
.RFS-StepButton-d0 {
    background-color: darkgray !important;
}
.RFS-StepButton-d2 {
    background-color: darkgray !important;
}
.RFS-StepButton-d4 {
    background-color: darkgray !important;
}
.RFS-StepButton-d6 {
    background-color: darkgray !important;
}
.RFS-StepButton-d8 {
    background-color: darkgray !important;
}
.RFS-StepButton-d10 {
    background-color: darkgray !important;
}

.RFS-StepButtonContent-d0.active {
    color: white !important;
}
.RFS-StepButtonContent-d1.active {
    color: white !important;
}
.RFS-StepButtonContent-d3.active {
    color: white !important;
}
.RFS-StepButtonContent-d5.active {
    color: white !important;
}
.RFS-StepButtonContent-d7.active {
    color: white !important;
}
.RFS-StepButtonContent-d9.active {
    color: white !important;
}
.RFS-StepButtonContent-d11.active {
    color: white !important;
}

.RFS-StepButtonContent-d1.completed {
    color: black !important;
}
.RFS-StepButtonContent-d3.completed {
    color: black !important;
}
.RFS-StepButtonContent-d5.completed {
    color: black !important;
}
.RFS-StepButtonContent-d7.completed {
    color: black !important;
}
.RFS-StepButtonContent-d9.completed {
    color: black !important;
}
.RFS-StepButtonContent-d11.completed {
    color: black !important;
}

.RFS-StepButtonContent-d1 {
    color: black !important;
}
.RFS-StepButtonContent-d3 {
    color: black !important;
}
.RFS-StepButtonContent-d5 {
    color: black !important;
}
.RFS-StepButtonContent-d7 {
    color: black !important;
}
.RFS-StepButtonContent-d9 {
    color: black !important;
}
.RFS-StepButtonContent-d11 {
    color: black !important;
}

[class*="RFS-Label"] { 
    font-weight: bold !important;
}

.goals-step1-btn {
    border-radius: 5px !important;
    background-color: lightgrey !important;
    height: 80px !important; 
    width:115px !important;
    border-color: lightgrey !important;
    color:black !important;
    float: left !important;
    margin: 5px 15px 5px 0px !important;
    text-align: center !important;
    justify-content: center !important;
    align-content: center !important;
    font-size: 12px !important;
    font-weight: bold !important;
}
.goals-step1-btn-clicked {
    background-color: lightgrey !important;
    color:white !important;
}

.uppercase {
    text-transform: uppercase;
}

.fs-10 {
    font-size: 10px !important; 
}

.pg-bar>div{
    background-color: darkgray !important;
}

.custom-input {
    background-color: #E0E0E0 !important;
    color: black !important;
    border-radius: 0px !important;
}
.form-control:focus {
    border-color: transparent !important;
}
.custom-checkbox {
    font-size: 14px;
}

.custom-input-step3 {
    background-color: #E0E0E0 !important;
    color: black !important;
    border-radius: 0px !important;
    border: 0px !important;
    height: 30px !important;
    width: 40px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
}
.custom-input-step3:focus {
    border-color: transparent !important;
}
.pay-pm-step3 {
    background-color: #E0E0E0 !important;
    color: black !important;
    border-radius: 0px !important;
    border: 0px !important;
    height: 30px !important;
    width: 70px !important;
}

.upper-grid {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.f-w-500 {
    font-weight: 500 !important;
}

.mt-10 {
    margin-top: 10px !important;
}
.mb-40 {
    margin-bottom: 40px !important;
}
.mb-10 {
    margin-bottom: 10px !important;
}
.ml-10 {
    margin-left: 10px !important;
}
.mr-10 {
    margin-right: 10px !important;
}

textarea[name=goalDesc] {
    resize: none;
}

textarea[name=motivationalQuote] {
    resize: none;
}

.text-desc {
    font-size: 12px !important;
    color: black !important;
}
.text-desc > i {
    font-size: 12px !important;
    color: black !important;
}

.checkbox-label {
    padding-left: 15px !important;
    text-indent: -15px !important;
}

.b-r-20 {
    border-radius: 20px !important;
}

.min-width-100 {
    min-width: 100px !important;
}

.goals-create {
    border-radius: 20px !important;
    margin-bottom: 10px; 
    float: right !important;
    display: inline-flex !important;
}

.circle {
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 50%;
    margin-right: 5px;
    font-weight: bold;
    color: black;
    text-align: center;
    background: white;
  }

.custom-dd > button {
    background-color: #E0E0E0 !important;
    color: black !important;
    border-color: transparent !important;
}

.custom-dd > button.dropdown-toggle:after {
    color: black !important;
}

.custom-dd.month > button {
    border-radius: 0px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
}

select.custom-dd.month {
    border-radius: 0px !important;
    border: transparent !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    background-color: #E0E0E0 !important;
}

select.custom-dd.month:focus {
    border-radius: 0px !important;
    border: transparent !important;
}

select.custom-dd.year {
    border-radius: 0px !important;
    border: transparent !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    background-color: #E0E0E0 !important;
}


.custom-dd.year > button {
    border-radius: 0px !important;
}


.font-color {
    color: #E0E0E0 !important;
}
.font-color-dark {
    color: darkgray !important;
}

/* .btn.btn-primary:not(:disabled):not(.disabled):active:not(.btn-text).dropdown-toggle:after, .btn.btn-primary:not(:disabled):not(.disabled).active.dropdown-toggle:after, .show > .btn.btn-primary.dropdown-toggle.dropdown-toggle:after, .show .btn.btn-primary.btn-dropdown.dropdown-toggle:after {
    color: black !important;
} */
/* 
.RFS-Label-d1 {
    font-weight: bold !important;
}
.RFS-Label-d3 {
    font-weight: bold !important;
}
.RFS-Label-d37 {
    font-weight: bold !important;
}
.RFS-Label-d39 {
    font-weight: bold !important;
}
.RFS-Label-d41 {
    font-weight: bold !important;
}
.RFS-Label-d43 {
    font-weight: bold !important;
}
.RFS-Label-d45 {
    font-weight: bold !important;
} */


.vl {
    border-left: 2px solid darkgray;
    height: 90%;
    padding-left: 10px;
  }

[class*="RFS-ConnectorContainer-d"] 
 {
    left: calc((-50% + 2em) - 13px) !important;
    right: calc((50% + 2em) - 13px) !important;
}
